<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    {% include 'components/header.html' %}
    {% include 'components/menu.html' %}
    {% include 'components/section-1.html' %}
    {% include 'components/form.html' %}
    {% include 'components/footer.html' %}
    
    <script src="../static/js/main.js"></script>
</body>
</html>