<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="menu-2">
        <div class="m-2">
            <ion-icon name="exit-outline" onclick="handle2Click()"></ion-icon>
        </div>
        
        <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="#header">About</a></li>
            <li><a href="#footer">Contact</a></li>
        </ul>
    </div>
</body>
</html>
